<h1>出発地の住所と行き先の住所または名称を入力する</h1>
<%= form_tag direction_search_path do %>
  出発地の住所
   <input type="text" class="" name="adress_dep"></br>
  行き先の住所
  <input type="text" class="" name="adress_app"></br>
  <input type="submit" value="ok" class="">
<% end %>