<h1>出発地と行き先を入力する</h1>
<%= form_tag direction_show_path do %>


  出発地
   <input type="text" class="" value="<%= @dep %>" name="dep"></br>
  行き先
  <input type="text" class="" value ="<%= @arr %>" name="arr"></br>
  <input type="submit" value="ok" class="">
<% end %>