<div class="wrapper">
<h1>Trip Suggestor -全国温泉編- v0.6</h1>
<h2>これはなに?</h2>
<p>ツアーで決められたルートではなく，自分で気ままにどこかに出かけたい．</p>
<p>そのためには，やることがたくさん．</p>
<p>行き先を決め，宿を調べ，交通費を調べ，案外高くつくことに悩み…</p>
<p>宿を変えたり，行き先を変えてみたりして，時間ばかりかかります．</p>
<br>
<p>Trip Suggestorなら，予算と現在地を入れるだけ．</p>
<p>さあ，どんな温泉での1泊2日が見つかるでしょうか?</p>
</div>


<div class="wrapper">
    
<h2>1泊2日の温泉旅行にでかけましょう!</h2>

    <%= form_tag direction_hotels_path do %>
      
      <div class="input_dept">出発駅は:<input type="text" class="" name="dept">駅</p></div>
      <div class="price_now"><span id="bar_val">20000</span>円</div>
      
      <div class="input_bgt">
        <input type="range" name="bgt" id="bright" class="custom" step="100" min="5000" max="100000" value="20000" onchange="changeBarValue(this.value)"/>
        <span id="bright_bar"></span> 
      </div>
      
      <div class="price">
        <span class="price_axis_left">最小:5,000円</span>
        <span class="price_axis_mid">50,000円</span>
        <span class="price_axis_right">最大:100,000円</span>
        </div>
      <div class="submit"> <input type="submit" value="温泉検索スタート！" class="btn_submit"> </div>
    <% end %>

</div>