// Place all the styles related to the Finders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    color:   #333;
    background-color:  #ccc;
}

h1{
    color:   #fff;
    background-color:  #006;
    margin-top:    15px;
    margin-bottom: 15px;
    margin-left:   0px;
    margin-right:  200px;
    padding: 15px;
    
}

h2{
    color:   #fff;
    background-color:  #66c;
    margin-top:    15px;
    margin-bottom: 15px;
    margin-left:   0px;
    margin-right:  500px;
    padding: 15px;
    
}


h3{
    color:   #333;
    background-color: #fff;
    border:  outset 5px #ccc;
    width:   300px;
    margin-bottom: 15px;
    margin-left:   0px;
    padding: 5px;
    
}

.hdn{
    //display:  none;
    background-color: #ccc;
}

ul.todo{
    color: #339;
    font-weight: bold;
}

span.todo{
    color: #0aa;
    font-style: italic;
    font-weight: bold;
}